
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMigracionBarrioLabel" translate="opendatacollectorApp.migracionBarrio.home.createOrEditLabel">Create or edit a MigracionBarrio</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="migracionBarrio.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="opendatacollectorApp.migracionBarrio.numeroPersonas" for="field_numeroPersonas">NumeroPersonas</label>
            <input type="number" class="form-control" name="numeroPersonas" id="field_numeroPersonas"
                    ng-model="migracionBarrio.numeroPersonas"
                    required min="0" />
            <div ng-show="editForm.numeroPersonas.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroPersonas.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numeroPersonas.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.numeroPersonas.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="opendatacollectorApp.migracionBarrio.anyo" for="field_anyo">Anyo</label>
            <input type="number" class="form-control" name="anyo" id="field_anyo"
                    ng-model="migracionBarrio.anyo"
                     />
        </div>

        <div class="form-group">
            <label translate="opendatacollectorApp.migracionBarrio.barrioOrigen" for="field_barrioOrigen">barrioOrigen</label>
            <select class="form-control" id="field_barrioOrigen" name="barrioOrigen" ng-model="migracionBarrio.barrioOrigen" ng-options="barrio as barrio.nombre for barrio in barrios track by barrio.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="opendatacollectorApp.migracionBarrio.barrioDestino" for="field_barrioDestino">barrioDestino</label>
            <select class="form-control" id="field_barrioDestino" name="barrioDestino" ng-model="migracionBarrio.barrioDestino" ng-options="barrio as barrio.nombre for barrio in barrios track by barrio.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
